* {
    margin: 0px;
    padding: 0px;
    outline: 1px solid red;
}
#wrapper {
    width: 800px;
    margin: 0px auto;
    border: 10px solid black;
}
#header {
    background-color: red;
    padding: 10px;
}
    #header img {
        width: 50px;
        vertical-align: middle;
    }
    #header ul {
        display: inline-block;
        vertical-align: middle;
        width: 726px;
        text-align: right;
    }
    #header ul li {
        display: inline-block;
        margin: 0px 20px;
    }
#main {
    background-color: gray;
}