/* * {
    outline: 2px dashed red;
} */
#container {
    width: 1000px;
    margin: 0px auto;
    border: 2px solid black;
    text-align: center;
}
#title, #info {
    display: inline-block;
    width: 498px;
    outline: 2px dashed red;
    vertical-align: top;
}
h1 {
    color: red;
}


